
body{
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

.titulo{
  text-align: center;
  font-size: 25px;
}

.margin{
  margin: 30px;
}
.table{
  width: 100%;
  text-align: left;
}

input{
  color: #039BE5;
  height: 30px;
  margin-top: 8px;
  border-radius: 6px;
  border-color: white;
  font-weight: 800;
  font-size: large;
}


button{
  margin-left: 10px;
  background-color: #FF3D00;
  color: white;
  border-style: none;
  height: 25px;
  border-radius: 6px;
}

button:disabled {
  background: #ccc;
}

.table td{
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid4;
  border-bottom-color: #FF3D00;
}
#menu {
  background-color: #FF3D00;
  padding: 20px;
  font-size: 20px;
}
#menu a{
  color: white;
  padding-right: 50px;
}



#containerLeft{
  color: #37474F;
  float: left;
  width: 60%;
  background-color:#B3E5FC;
  padding: 10px;
}

#containerRight{
  color: #37474F;
  float: inline-end;
  width: 35%;
  background-color:#B3E5FC;
  padding: 10px;
}

#productCard{
  background-color: white;
  width: 80%;
  border-radius: 10px;
  margin-left: 8px;
  padding: 10px;
  display:flex;
}
#productCardPhoto{
  width: 130px;
  height: 100px;
  float: left;
  margin: 5px;
}
#productCardPhoto img {
  background-color: black;
  width: 100px;
  height: 100px;
}
#productCardDescription{
  color: #37474F;
  float: right;

  width: 70%;
  margin: 10px;
  
}

.cardNombre{
  font-size: 20px;
  font-weight: bold;

}

.total{
  text-align: end;
  margin-right: 40px;
  font-size: 18px;
}


.center{
  text-align: center;
}


.m_left{
  margin-left: 20px;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Modal__container {
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10rem;
  background-color: #ffffff;
  padding: 50px;
  width: 400px;
  min-height: 80px;
}

.Modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: #FF3D00;
  padding: 0.5rem 1rem;
}